<div ng-include="'components/navbar/navbar.html'"></div>

<section id="main-content">
    <section class="wrapper">
<div class="container">
  <p>The delete user and user index api routes are restricted to users with the 'admin' role.</p>
  <ul class="list-group">
    <li class="list-group-item" ng-repeat="user in users">
        <strong>{{user.name}}</strong><br>
        <span class="text-muted">{{user.email}}</span>
        <a ng-click="delete(user)" class="trash"><span class="glyphicon glyphicon-trash pull-right"></span></a>
        <div>
          <form name='passwordForm' id="inputForm">
            <input id="input{{$index}}" class='changePW' type='text' placeholder='Change password of this user' ng-model='user.newPassword'></input>
            <button ng-click="changePassword(user)" class='btn btn-primary'>Change Password</button>
          </form>
        </div>
        <p>Role: {{user.role.toUpperCase()}}</p>
        <button ng-hide="user._id == userId" ng-click="changeAdminStatus(user)" id="promoteBtn" class="btn btn-secondary">Change Admin Status</button>
    </li>
  </ul>
</div>
</section>
</section>
