<style>
table{
	border:none;
}
</style>

<div ng-include="'components/navbar/navbar.html'">
</div>

<section id="main-content">
    <section class="wrapper">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="content-panel">


                        <h1 class="page-header">My orders:</h1>
                        <div class="container">
                            <div class="col-xs-9">
                                <div ng-repeat="order in orderList | filter:status" class='order mb mt'>
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>Product Name</th>
                                                <th>Price</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="product in order.products">
                                                <td>{{product.name}}</td>
                                                <td>{{product.price}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    Total: {{order.total}}
                                    <br>
                                    <span ng-show="order.promoApplied">Promo Applied: {{order.promoApplied.description}} at {{order.promoApplied.discount}}% off</span>
                                    <br> Status: {{order.status}}
                                    <br> Created: {{order.createdTime.toDateString()}}
                                    <hr>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>
