<div ng-include="'components/navbar/navbar.html'"></div>

<section id="main-content">
    <section class="wrapper">

        <div class="row">
            <div class="col-lg-9 main-chart">
                <div class="row">
                    <div class="col-md-4 col-sm-4 mb" ng-repeat="store in stores | filter:searchText">
                        <div class="white-panel pn">
                            <div class="white-header">
                                <h5>{{store.title}}</h5>
                            </div>
                            <a href="/store/{{store.title}}" type="button" class="btn btn-theme">View Store</a>
                        </div>
                    </div>
                    <product ng-repeat="product in products | filter:searchText"></product>
                </div>
            </div>
            <div class="col-lg-3 ds">
                <h3>SEARCH</h3>
                <!-- First Action -->
                <div class="desc">
                    <div class="details">
                        <p>

                            <form class="form" role="form">
                                <div class="form-group">
                                    <input type="text" ng-model="searchText" class="form-control btn-block" id="exampleInputEmail2" placeholder="Enter term">
                                </div>
                            </form>
                        </p>
                    </div>
                </div>
            </div>
        </div>



        </div>
    </section>
</section>
