<div ng-include="'components/navbar/navbar.html'"></div>

<section id="main-content">
    <section class="wrapper">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Featured Stores:</h1>
                    <ul class="nav nav-tabs nav-stacked col-md-4 col-lg-4 col-sm-6" ng-repeat="store in stores">
                        <li><a href='/store/{{store.title}}'>{{store.title}}<button type="button" class="close" ng-click="deleteThing(thing)">&times;</button></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <form method="get" action="/create_store">
                            <button type="submit" class="btn btn-primary">Create Your Own Store!</button>
                        </form>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Popular Tags:</h1>
                    <tags></tags>
                    <!--       <ul class="nav nav-tabs nav-stacked col-md-4 col-lg-4 col-sm-6" ng-repeat="store in stores">
                        <li><a href='/store/{{store.title}}'>{{store.title}}<button type="button" class="close" ng-click="deleteThing(thing)">&times;</button></a>
                        </li>
                    </ul> -->
                </div>
            </div>

          <div class="row">
            <div class="col-lg-12">
              <label> Search:
                <input type="text" ng-model="searchText"></input>
              </label>
              <button class="btn btn-primary" ng-click="searchStore()">Search</button>
              <div ng-show="noProds">No Products Found</div>
              <div ng-hide="noProds">
                <p>Search Results:</p>
                <ul>
                  <li ng-repeat="product in products"><a href="/store/{{product.storeId.name}}">Name: {{product.name}}</a></li>
                </ul>
              </div>
            </div>
          </div>



        </div>
    </section>
</section>
