<div class="jumbotron">
  <div class="box">
    <h2 class="PanelTitle">
      Reviews
    </h2>
    <hr>
    <div class="media" ng-repeat="review in comments">
      <div class="media-left">
        <div class="vote circle">
          <div ng-click="addUpvote(review)" class="increment up"></div>
          <div ng-click="minusUpvote(review)" class="increment down"></div>
          <div class="count">{{review.upvotes}}</div>
        </div>
      </div>
      <div class="media-body">
        <h4 class="media-heading">
          <strong>{{review.title}} </strong>
           <span ng-show="isProfilePage"> about <strong><a ng-click="toggleDialog(review.product)">{{review.product.name}}</a></strong></span>
        </h4>
        <p class="reviewText">{{review.body}}</p>
        <div ng-show="!isProfilePage">By: {{review.owner.name}} </div>
      </div>
      <!-- <div ng-show="review.product.name">{{review.product.name}}</div> -->
  </div>
</div>
</div>
