<div class="jumbotron">
  <div class="box">
    <h2 class="PanelTitle">
      Reviews
    </h2>
    <hr>
    <div class="reviewBox" ng-repeat="review in comments">
      <h4 class="reviewTitle">
        {{review.title}}
      </h4>
      <div class="upvoteReviewPanel">
      <div class="vote circle">
          <div ng-click="addUpvote(review)" class="increment up"></div>
          <div ng-click="minusUpvote(review)" class="increment down"></div>
          <div class="count">{{review.upvotes}}</div>
        </div>
      </div>
      <div>
        {{review.body}}
      </div>
      <div ng-show="review.product.name">{{review.product.name}}</div>
  </div>
</div>
</div>
