<div ng-include="'components/navbar/navbar.html'"></div>

<section id="main-content">

    <h1>You are shopping at {{storeName}}! </h1>
    <section class="wrapper">
        <label> Search:
            <input type="text" ng-model="searchText"></input>
        </label>
        <button class="btn btn-primary" ng-click="searchStore()">Search</button>

        <div class="container">
            <div class="col-md-12">

                <h1 class="page-header">Products in {{storeName}}</h1>
                <ul class="nav nav-tabs nav-stacked col-md-4 col-lg-4 col-sm-6" ng-repeat="product in products">
                    <li><a href="#">{{product.name}}<button type="button" class="close" ng-click="deleteTag(tag)">&times;</button></a>
                        <span><a href="tags/{{tag.name}}">More Info</a></span>
                    </li>
                </ul>

                <div ng-show="'noProds'">No Products Found</div>
            </div>
        </div>
    </section>
</section>