<div ng-include="'components/navbar/navbar.html'"></div>

<section id="main-content">
    <section class="wrapper">
        <div class="row">
        	<div class="col-lg-9 main-chart">
        		<div class="row">
        			<product ng-repeat="product in products track by $index"></product>
        		</div>
        	</div>
        </div>

        <div class="container">
            <div class="col-md-6">
                <h1 class="page-header">Products in {{storeName}}</h1>
                <ul class="nav nav-tabs nav-stacked col-md-4 col-lg-4 col-sm-6">

                    <li ng-repeat="product in products">Name:{{product.name}}<br>
                                    Price:{{product.price}}<br>
                                    Tags:
                                    <div ng-repeat="tag in product.tags">
                              <a href="/tags/{{tag.name}}">{{tag.name}}</a>
                                </div>

                                        <span><a href="/products/{{product._id}}">More Info on Product</a>
                        </span>
                    </li>
                </ul>
            </div>
            <div class="col-md-4">
                <div ng-show="noProds">No Products Found</div>
                <div ng-hide="noProds">
                    <p>Search Results:</p>
                    <ul>
                        <li ng-repeat="product in store.products"><a href="/product/{{product.name}}">Name: {{product.name}}</a>
                        </li>
                        <!-- still need to link this so that it opens modal, this is just a dumby href right now -->
                    </ul>
            <div class="col-lg-9 main-chart">
                <div class="row">
                    <product ng-repeat="product in products | filter:searchText"></product>
                </div>
            </div>
            <div class="col-lg-3 ds">

                <div ng-show="ownerPresent" class="mb">
                		<a type="button" class="btn btn-primary btn-lg btn-block" href="/store/{{storeName}}/admin">Edit Store</a>
                		<a type="button" class="btn btn-primary btn-lg btn-block" href="/store/{{storeName}}/orders">View Store Orders</a>
                </div>
                <h3>SEARCH</h3>
                <!-- First Action -->
                <div class="desc">
                    <div class="details">
                        <p>

                            <form class="form" role="form">
                                <div class="form-group">
                                    <input type="text" ng-model="searchText" class="form-control btn-block" id="exampleInputEmail2" placeholder="Enter term">
                                </div>
                            </form>
                        </p>
                    </div>
                </div>
                <!--COMPLETED ACTIONS DONUTS CHART-->
                <div class="mb" ng-show="currentPromos.length > 0">
                <h3>PROMOS</h3>
                <!-- First Action -->
                <div class="desc" ng-repeat="promo in currentPromos">
                    <div class="thumb">
                        <span class="badge bg-theme"><i class="fa fa-tag"></i></span>
                    </div>
                    <div class="details">
                        <p>
                            <muted>{{promo.discount}}</muted>
                            <br> {{promo.description}}, expires: {{promo.expiry.toDateString()}}
                            <br>
                            <b>{{promo.code}}</b>
                        </p>
                    </div>
                </div>
                </div>
            </div>
    </section>
    <center></center>
</section>
