<!-- <div class="row">
    <div ng-click="toggleDialog(product)">
        <h1><a>{{product.name}}</a></h1>
        <img src="{{product.media[0]}}">
        <h3>{{product.price}}</h3>
        <p>{{product.description}}</p>
    </div>
    <button class="btn btn-default" ng-click="addToCart(product._id)">Add to cart</button>
</div> -->

<div class="col-md-4 col-sm-4 mb" ng-click="toggleDialog(product)">
    <div class="white-panel pn">
        <div class="white-header">
            <h5>{{product.name}}</h5>
        </div>
        <div class="row">
            <div class="col-sm-6 col-xs-6 goleft">
                <p><i class="fa fa-level-up"></i> {{product.upvotes}}</p>
            </div>
            <div class="col-sm-6 col-xs-6"></div>
        </div>
        <div class="centered">
            <img src="{{product.media[0]}}" width="120">
        </div>
    </div>
</div>
