<div ng-include="'components/navbar/navbar.html'"></div>
<section id="main-content">
    <section class="wrapper">

        <div>
            <h1> Products labelled with: {{currentTagName}} </h1>
            <ul >
                <li ng-repeat="product in products">


                    <div class="col-md-4 col-sm-4 mb">
                        <div class="white-panel pn">
                            <div class="white-header">
                                <h5>{{product.name}}</h5>
                            </div>
                            <div class="row" ng-click="toggleDialog(product)">
                                <div class="col-sm-6 col-xs-6 goleft">
                                    <p><i class="fa fa-level-up"></i> {{product.upvotes}}</p>
                                </div>
                                <div class="col-sm-6 col-xs-6"></div>
                            </div>
                            <div class="centered">
                                <img src="{{product.media[0]}}" width="120">
                            </div>
                            <button type="button" class="btn btn-theme" ng-click="addToCart(product._id)">Add to Cart</button>
                        </div>
                    </div>





                </li>
            </ul>

        </div>
        </div>

    </section>
</section>