<div ng-include="'components/navbar/navbar.html'"></div>

<section id="main-content">
    <section class="wrapper">
        <div class="container">
            <div class="col-xs-8">
                <div ng-show="owner" classls="col-md-12">
                    <h1>You are editing {{storeName}} </h1>
                </div>

                <div class="col-md-12">
                    <div ng-repeat="image_url in product_images">
                        <img src="{{image_url}}">
                    </div>
                    <form ng-submit='addProduct()'>
                        <h3>Add products to store</h3>
                        <input id="file-upload" type="file" class="form-control" onchange="angular.element(this).scope().upload()"></input>
                        <div class='form-group'>
                            <input type='text' class='form-control' placeholder='Name' ng-model="name"></input>

                            <input type='text' class='form-control' placeholder='Description' ng-model="description"></input>

                            <input type='number' class='form-control' placeholder='Price' ng-model="price"></input>

                        </div>

                        <button type='submit' class='btn btn-primary'>Add Product</button>
                    </form>

                    <!-- Form to add tags to product -->
                    <form ng-submit='addTag(tag)'>
                        <input type='text' placeholder='Tag' ng-model="tag"></input>
                        <button type='submit' class='btn btn-primary' ng-click=>Add tag</button>
                    </form>

                    <h3 class="page-header">Tags on Product:</h1>
                    <ul class="nav nav-tabs nav-stacked col-md-4 col-lg-4 col-sm-6" ng-repeat="tag in tags">
                        <li><a href="#">{{tag}}<button type="button" class="close" ng-click="deleteTag(tag)">&times;</button></a>
                            <span><a href="tags/{{tag.name}}">More Info</a></span>
                        </li>
                    </ul>


                    <div class="col-md-12">

                        <div class="row">
                            <div class="col-lg-12">
                                <h1 class="page-header">Products in Store:</h1>
                                <ul class="nav nav-tabs nav-stacked col-md-4 col-lg-4 col-sm-6">
                                    <li ng-repeat="product in products"><a href="#">Name:{{product.name}}<br>
                                    Price:{{product.price}}<br>
                                    Tags: 
                                    <div ng-repeat="tag in product.tags">
                                        {{tag.name}}
                                </div>
                                    <button type="button" class="close" ng-click="deleteProduct(product._id)">&times;</button></a>
                                        <span><a href="/products/{{product._id}}">More Info on Product</a></span>
                                    </li>
                                </ul>
                            </div>
                        </div>


                    </div>
                    <div class="col-md-12">


                        <div class="row">
                            <div class="col-lg-12">
                                <h1 class="page-header">Create a promo:</h1>
                                <p>Enter the promo code, i.e. "NY123", the discount as '20' if you want 20% off the customer's total, and the date when the promotion will expire.</p>
                                <input ng-model="promoDescription" type="text" maxlength="10" placeholder="Description"></input>
                                <input ng-model="promoCode" type="text" maxlength="8" placeholder="Promo code"></input>
                                <input ng-model="promoDiscount" type="number" maxlength="3" placeholder="Discount"></input>
                                <input ng-model="promoExpiry" type="date" placeholder="Expiry for promotion"></input>
                                <button class='btn btn-primary' ng-click="createPromo()">Submit Promo</button>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-12">
                                <h1 class="page-header">Current promotions running for this store:</h1>
                                <ul> <!--ng repeat over promos attached to this store -->
                                  <li ng-repeat="promo in currentPromos">
                                    Code: {{promo.code}}<br>
                                    Description: {{promo.description}}<br>
                                    Discount: {{promo.discount}}<br>
                                    Expiry: {{promo.expiry.toDateString()}}
                                    <button class="btn btn-warning" ng-click="deletePromo(promo)">Delete Promo</button>
                                  </li>
                                </ul>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
            <div class="col-xs-4">
                User info here
            </div>

        </div>
    </section>
</section>