  .ng-invalid {
    color: red;
  }
  table {
    width:100%;
    border: 1px solid red;
  }
  td {
    border: 1px solid black;
    font-size: 18px;
    text-align: center;
  }
  #applyPromo {
    cursor: pointer;
    background: yellow;
    text-align: center;
    margin: 5px 0 5px 0;
    padding: 8px 0 8px 0;
  }
  #blankSpace {
    height: 150px;
  }
  #thanks {
    text-align: center;
    font-size: 60px;
  }